* {
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
  
  body {
    font-family: Calibri, Helvetica, sans-serif;  
    background-image: radial-gradient(circle at center,#d5e1ec,#47bee9); 
    background-size:contain;
    background-position: center;
}

  
  
  
  
  

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  th, td {
    padding: 9px;
    text-align: left;
    border-bottom: 2px solid #cdf0fc
  }

  th {
    background-color: #cdf0fc;
    
  }

  tr:hover {
    background-color:#ddf7ff;
    opacity: 0.5;
  }

  
  
  .cell {
  height: 60px;
  align-items: left;
  margin-top: 0px;
  padding-top: 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 12px;
  
  }
  
  .head {
    font-weight: bold;
    background-color: rgb(48, 164, 210);
    color: white;
  }
  
  .select{
  width: 20px;
  
  }
  
  .select_button{
    color: #fd0505;
  }
  
  .select_button:hover{
    color: rgb(48, 164, 210);
  }
  .serial{
  width:40px;
  }
  
  .rack {
    width: 45px;
  }
  
  .server_make{
    width: 60px;
  }
  
  .server_model{
  width: 150px;
  }
  
  .server_serial{
  width: 100px;
  }
  
  .ownership{
  width: 70px;
  }
  
  .warranty{
  width: 100px;
  }
  
  .vm{
  width: 60px;
  }
  
  .vm_number{
  width: 45px;
  }
  
  .IP{
  width: 78px;
  }
  
  .public_IP{
  width: 78px;
  }
  
  .application{
  width: 120px;
  }
  
  .specification{
  width: 180px;
  }
  a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  }
  

  .edit-icon {
    font-size: 20px;
    color:#2ab2e4;
    padding: 5px;
    width:20px;
  }